.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: auto;
   
   
  }
  
  .nav-bar a {
    padding: 10px 20px;
    background: lightgrey;
    border: 1px solid black;
    text-decoration: none;
    color: black;
    font-weight: bold;
    
  }
  
  .nav-bar a:hover {
    background: rgb(159, 189, 159);
  }
  